﻿@model booklynk.ViewModels.RandomBooksViewModel
@{ 
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@{ 

    var numcustomer = Model.Auther.Count > 4 ? "More than 2 Authors" : "Author Not Found";

}

<h2>(@Model.Books.Id)@Model.Books.Name</h2>
<h2>@numcustomer</h2>

@Html.Partial("_CustomerList")

@Html.Partial("_AuthorsList")